body {
    background-color: honeydew;
}
.nav-item {
    text-align: center;
    list-style: none;

}
.nav-link {
    text-decoration: none;
    color: black;
}
.inline {
    display: inline;
    padding: 1rem;
}
.header {
    padding-top: 1rem;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
}
.link-responce {
    padding-bottom: 1rem;
    text-decoration: underline;
}
.section {
    background-color:gray;
    width: 300px;
    /* height: 400px; */
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
}
.flex .img {
    width: 20%;
}
.footer-div {
    padding-top: 1rem;
}
.footer .nav-item {
    text-align: end;
    font-weight: bolder;
}